<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <h3>Nhân sự</h3>
    <form action="/save" method="post" enctype="multipart/form-data">
      <label> Nhập mã nhân sự : </label>
      <input
        type="number"
        name="manhansu"
        id="manhansu"
        placeholder=" Nhập mã nhân sự"
      />
      <br />
      <br />
      <label> Nhập họ tên : </label>
      <input type="text" name="hoten" id="hoten" placeholder=" Nhập họ tên" />
      <br />
      <br />
      <label> Nhập năm sinh : </label>
      <input
        type="number"
        name="namsinh"
        id="namsinh"
        placeholder=" Nhập  năm sinh"
      />
      <br />
      <br />
      <label> Nhập phòng ban : </label>
      <select name="phongban" id="phongban" >
        <option value="Phòng Ban A">Phòng Ban A</option>
        <option value="Phòng Ban B">Phòng Ban B</option>
        <option value="Phòng Ban C">Phòng Ban C</option>
      </select>
      <br />
      <br />
      <label> Nhập hình ảnh : </label>
      <input type="file" name="image" id="image" accept="image*/" required />
      <br />
      <br />
      <input type="submit" value="Thêm" />
    </form>
    <br />
    <br />
    <form action="/delete" method="post" enctype="multipart/form-data">
      <table border="1">
        <thead>
          <tr>
            <th>Mã nhân sư</th>
            <th>Họ tên</th>
            <th>Năm sinh</th>
            <th>Phòng Ban</th>
            <th>Hình ảnh</th>
            <th>Chọn</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td>1</td>
            <td>Nguyễn Vân Anh</td>
            <td>2004</td>
            <td>Phòng Ban A</td>
            <td>
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXVLhVCMReryyxtn-uXeIxak9X_n1ODrtf7w&usqp=CAU"
                alt=""
                width="100"
              />
            </td>
            <td>
              <input type="checkbox" name="manhansu" value="1" />
            </td>
            </tr> -->
            <% data.forEach(item => { %>
              <tr>
                <td>
                  <%=item.manhansu %>
                </td>
                <td>
                  <%=item.hoten %>
                </td>
                <td>
                  <%=item.namsinh %>
                </td>
                <td>
                  <%=item.phongban %>
                </td>
                <td>
                  <img src="<%=item.hinhanh %>" alt="" width="100" />
                </td>
                <td>
                  <input type="checkbox" name="<%= item.manhansu%>" id="<%= item.manhansu %>" />
                </td>

              </tr>
              <% })%>

          </tr>
        </tbody>
      </table>
      <br />
      <input type="submit" value="Xoá" />
    </form>
  </body>
</html>
